* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1000;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 20px;
}

.clicks{
    display: flex;
    flex-direction: row;
    gap: 20px;
    margin: 10px;
}

a:-webkit-any-link {
    color: white;
    cursor: pointer;
    text-decoration: none;
}
.background-top{
    position: fixed;
    z-index: 3;
    height: 300px;
    width: 600px;
}
.image-front{
    z-index: 2;
}
.image-back{
    z-index: 1;
}
.image-front, .image-back{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 750px;
}